Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py35:
  parent: tox
  description: 'Run py35 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py35
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pylint:
  parent: tox
  description: 'Run pylint test for cgts-client
  
    '
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Remove rook-ceph app constants
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix the message when system kube-upgrade-start fails
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Platform certificate management by cert-manager
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Merges key/value pairs in platform.conf
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add SANs to admin endpoint certificate during upgrade
  controllerconfig/controllerconfig/upgrade-scripts/85-update-sc-admin-endpoint-cert.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix live-migration for boot-from-volume VM
  sysinv/sysinv/sysinv/sysinv/helm/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update CSR processing delay for large DC system
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add reference code for adding new service
  controllerconfig/controllerconfig/controllerconfig/upgrades/utils.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Use stx_admin account for flock service to communicate with openstack
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix the exception of host label assign
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add edgeworker personality
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/109_edgeworker_personality.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fixed import-error
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Backwards Compatibility for certificate management
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_certificate.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/__init__.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/cert-with-key.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/cert.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/isystems
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/key.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/data/keystone-token
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AIO upgrades: update partition data migration script
  controllerconfig/controllerconfig/upgrade-scripts/10-sysinv-adjust-partitions.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Wait for all apps are stable before activate
  controllerconfig/controllerconfig/upgrade-scripts/60-k8s-app-upgrade.sh
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add variables for snmp in fm.conf
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/fm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix upgrades that use restore procedure
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Apply controller puppet manifest following DOR
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix tox failures from new version of virtualenv and pip
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix failing py27 zuul jobs in cgtsclient
  sysinv/cgts-client/cgts-client/test-requirements.txt
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Resolving not-callable
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/agent/lldp/drivers/lldpd/driver.py
  sysinv/sysinv/sysinv/sysinv/agent/lvg.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/fernet.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support upgrade to Helm v3 with containerized armada
  controllerconfig/controllerconfig/upgrade-scripts/55-armada-helm-upgrade.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Resolving pylint no-self-argument
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_pci.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Runtime manifests are applied incorrectly during upgrade
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Resolving pylint too many func args
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu.py
  sysinv/sysinv/sysinv/sysinv/api/middleware/auth_token.py
  sysinv/sysinv/sysinv/sysinv/common/fernet.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Consistent creation of registry secret
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Resolving invalid-all-object pylint error
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/middleware/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Resolving bad-except error
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Resolving no-value-for-parameters pylint error
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_oam.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/037_multi_storage_backend.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/043_sdn_controller.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/044_istorconfig_restructure.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/050_consolidated_r4.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/051_https_security.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/052_controllerfs_restructure.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/057_update_region_config_flag.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/058_cinder_optional_service.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/061_ipm.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/072_remove_ceilometer_service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enhance puppet hieradata copy during controller config
  controllerconfig/controllerconfig/scripts/controller_config
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Turn off the legacy pip resolver for sysinv
  playbooks/tox-puppet-lint/pre.yaml
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/chart_values_sample.yaml
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_objects.py
  sysinv/sysinv/sysinv/test-requirements.txt
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Resolving unpacking-non-sequence error
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

keep and reuse ssl certificate
  sysinv/cgts-client/cgts-client/cgtsclient/v1/isystem_shell.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Remove system CLI for Net-SNMP commands
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/icommunity.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/icommunity_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/itrapdest.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/itrapdest_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Document error for post /V1/ilvgs interface.
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

API documentation error for partitions
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

API documentation error for Ceph Storage Functions
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Update the PCI device section in the API document
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Update expired unit test certificate
  sysinv/sysinv/sysinv/sysinv/tests/api/data/README.txt
  sysinv/sysinv/sysinv/sysinv/tests/api/data/docker_registry-cert-2xcert-1xkey-with-key.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ssl-cert-2xcert-1xkey-with-key.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/test_certificate.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update local puppet cache during runtime manifests apply
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
