Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Update load import and delete APIs
  sysinv/cgts-client/cgts-client/cgtsclient/common/http.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/device_image.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/load.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/load_shell.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/load.py
  sysinv/sysinv/sysinv/sysinv/api/hooks.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/api/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Verify docker registry certificate with system trusted CAs
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/registry_image.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/docker_registry.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add subcloud status migration script
  controllerconfig/centos/controllerconfig.spec
  controllerconfig/controllerconfig/controllerconfig/common/log.py
  controllerconfig/controllerconfig/upgrade-scripts/50-dcmanager-subcloud-status-migration.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update device image state in device label API
  sysinv/cgts-client/cgts-client/cgtsclient/v1/pci_device_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/device_image.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/device_label.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pci_device.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/106_fpga_remove_columns.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/device_label.py
  sysinv/sysinv/sysinv/sysinv/objects/pci_device.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device_image.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device_label.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Fix sysinv hugepage pending value handling in memory updates
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add audit function to retrieve container images during restore
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Device image update alarm and audit
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/device_image.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/objects/device_image_state.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device_image.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Robustness updates to support application plugins
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/helm_charts.py
  sysinv/sysinv/sysinv/sysinv/cmd/helm.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_helm_charts.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Decouple armada/helm stx-monitor plugins from sysinv
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/elastic.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_client.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_curator.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_data.py
  sysinv/sysinv/sysinv/sysinv/helm/elasticsearch_master.py
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/kibana.py
  sysinv/sysinv/sysinv/sysinv/helm/kube_state_metrics.py
  sysinv/sysinv/sysinv/sysinv/helm/logstash.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_monitor.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
  sysinv/sysinv/sysinv/sysinv/helm/nginx_ingress.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Decouple helm oidc-auth-apps plugins from sysinv
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/dex.py
  sysinv/sysinv/sysinv/sysinv/helm/dex_base.py
  sysinv/sysinv/sysinv/sysinv/helm/oidc_client.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_cert_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_dex.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_helm.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_oidc_client.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Decouple helm cert-manager plugins from sysinv
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/helm/cert_manager.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_cert_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_helm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

sysinv FPGA agent initial commit
  centos_iso_image.inc
  centos_pkg_dirs
  sysinv/sysinv-fpga-agent/.gitignore
  sysinv/sysinv-fpga-agent/LICENSE
  sysinv/sysinv-fpga-agent/PKG-INFO
  sysinv/sysinv-fpga-agent/centos/build_srpm.data
  sysinv/sysinv-fpga-agent/centos/sysinv-fpga-agent.spec
  sysinv/sysinv-fpga-agent/opensuse/sysinv-fpga-agent.changes
  sysinv/sysinv-fpga-agent/opensuse/sysinv-fpga-agent.rpmlintrc
  sysinv/sysinv-fpga-agent/opensuse/sysinv-fpga-agent.spec
  sysinv/sysinv-fpga-agent/sysinv-fpga-agent
  sysinv/sysinv-fpga-agent/sysinv-fpga-agent.conf
  sysinv/sysinv-fpga-agent/sysinv-fpga-agent.service
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/opensuse/sysinv.spec
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/cmd/fpga_agent.py
  sysinv/sysinv/sysinv/sysinv/common/device.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/__init__.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/manager.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/objects/fpga_device.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

add workaround for N3000 reset behaviour
  sysinv/sysinv-fpga-agent/centos/sysinv-fpga-agent.spec
  sysinv/sysinv-fpga-agent/run_docker_login
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/constants.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

restart sysinv-fpga-agent when sysinv.conf changes
  sysinv/sysinv-fpga-agent/centos/sysinv-fpga-agent.spec
  sysinv/sysinv-fpga-agent/sysinv-conf-watcher.path
  sysinv/sysinv-fpga-agent/sysinv-conf-watcher.service
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Order device images by type before update
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix kubernetes apiserver advertise address
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

return default value if no storage backend enable
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add support for Helm v3 and containerized armada
  sysinv/sysinv/sysinv/sysinv/common/image_versions.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Run kubeadm command with specific configuration file
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix system host-fs-delete command
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host_fs.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix subcloud status migration script
  controllerconfig/controllerconfig/upgrade-scripts/50-dcmanager-subcloud-status-migration.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Remove armada container before sysinv start
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update simplex data migration
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Monitor the owership of dir /home/sysadmin/.kube
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

SR-IOV device plugin support for FPGA FEC devices
  sysinv/cgts-client/cgts-client/cgtsclient/v1/pci_device_shell.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/pci.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pci_device.py
  sysinv/sysinv/sysinv/sysinv/common/device.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/107_device_vf_attrs.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/pci_device.py
  sysinv/sysinv/sysinv/sysinv/puppet/device.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device_image.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device_label.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_label.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
  sysinv/sysinv/sysinv/sysinv/tests/db/test_sysinv.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Rename CLI command device-image-create
  sysinv/cgts-client/cgts-client/cgtsclient/v1/device_image.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/device_image_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update conditions for config change and manifest apply
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network_oam.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_oamnetwork.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Set up /var/run/sysinv as sysinv's default temp files location
  sysinv/sysinv/sysinv/scripts/sysinv-api
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Set up /var/run/sysinv as sysinv's default temp files location"
  sysinv/sysinv/sysinv/scripts/sysinv-api
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Set up /var/run/sysinv_tmp as sysinv's default temp files location
  sysinv/sysinv/sysinv/scripts/sysinv-api
  sysinv/sysinv/sysinv/scripts/sysinv-conductor
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

update certificate on system controller
  controllerconfig/controllerconfig/upgrade-scripts/80-dc-cert-upgrade.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add certificate_renew api
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_certificate.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Use sequential forward policy in coredns
  controllerconfig/controllerconfig/upgrade-scripts/25-coredns-configmap.sh
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add a check for uuid in device-image-upload
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/device_image.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Configure dcmanager user for endpoint_cache
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/utils.py
  sysinv/sysinv/sysinv/sysinv/puppet/dcmanager.py
  sysinv/sysinv/sysinv/sysinv/puppet/dcorch.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix deleted labels being re-added in k8s
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix data-migration failure when upgrading N+1 node
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Subcloud audit error after upgrading the system controller
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

add new subcloud status endpoint
  controllerconfig/controllerconfig/upgrade-scripts/50-dcmanager-subcloud-status-migration.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint
