Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py35:
  parent: tox
  description: 'Run py35 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py35
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pylint:
  parent: tox
  description: 'Run pylint test for cgts-client
  
    '
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Remove puppet entry related to host-based snmp
  sysinv/sysinv/sysinv/sysinv/puppet/fm.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable etcd with security setting.
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/scripts/controller_config
  controllerconfig/controllerconfig/upgrade-scripts/70_active-secured-etcd-after-upgrade.sh
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Remove REST API for host-based snmp
  controllerconfig/controllerconfig/upgrade-scripts/96_delete_snmp_records.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/root.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/community.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/trapdest.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/110_remove_snmp.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/community.py
  sysinv/sysinv/sysinv/sysinv/objects/trapdest.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Support trap_server_port configurable
  sysinv/sysinv/sysinv/sysinv/puppet/fm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update certificate pem files for unit tests
  sysinv/sysinv/sysinv/sysinv/tests/api/data/README.txt
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ca-cert-one-cert.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ca-cert-two-certs.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/docker_registry-cert-2xcert-1xkey-with-key-wrong-order.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/docker_registry-cert-2xcert-1xkey-with-key.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ssl-cert-2xcert-1xkey-with-key-wrong-order.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ssl-cert-2xcert-1xkey-with-key.pem
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Configure SQL as helm storage backend
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/utils.py
  controllerconfig/controllerconfig/upgrade-scripts/60-helm-releases-data-migration.py
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/helm.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix etcd AIO-DX upgrade failure issue
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Support passing an ignore alarm list to kube upgrade start API
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_upgrade.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_upgrade.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Ensure Armada lock is released
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AR patch
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Clean up helm and armada directories from old release
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Use deployment namespace for platform certificates
  controllerconfig/controllerconfig/upgrade-scripts/75-deployment-ns-upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/data/docker_registry-cert-2xcert-1xkey-with-key.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ssl-cert-2xcert-1xkey-with-key.pem
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Introduce lifecycle operator
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_base.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_constants.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_generic.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_hook.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_utils.py
  sysinv/sysinv/sysinv/sysinv/helm/manifest_base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add Armada pod ready check in sysinv application audit
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove identity entry on upgrade
  controllerconfig/controllerconfig/upgrade-scripts/45-sysinv-remove-identity-shared-service.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Upgrade: fix hieradata software version mismatch
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add required vars for ptp-notification app
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix urlparse call statement
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Migrate etcd after both controllers are upgraded
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  controllerconfig/controllerconfig/scripts/upgrade_swact_migration.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Single NIC support
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/common/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

cert-mon secret data migration for upgrade to stx5
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix tox failure when certain tmp folder un-writable
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device_image.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove host manifest during downgrade
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove upgrade flags during abort
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

VF rate limiting support
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/objects/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Interface profile support for VF rate limiting configuration
  sysinv/sysinv/sysinv/etc/sysinv/profileSchema.xsd
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile_utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Upgrades: data migration for dcorch scaling
  controllerconfig/controllerconfig/upgrade-scripts/53-dcorch-subcloud-sync-migration.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Introduce rook ceph
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_ceph_rook.py
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/agent/lvg.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/agent/partition.py
  sysinv/sysinv/sysinv/sysinv/agent/pv.py
  sysinv/sysinv/sysinv/sysinv/agent/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/111_storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
  sysinv/sysinv/sysinv/sysinv/puppet/rook.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add host command support for the edgeworker node
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iHost_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add api call to trigger creation of gnp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support data network assignment on an unlocked host
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_datanetwork.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface_datanetwork.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix migration scripts execution sequence
  .zuul.yaml
  controllerconfig/controllerconfig/.stestr.conf
  controllerconfig/controllerconfig/controllerconfig/tests/__init__.py
  controllerconfig/controllerconfig/controllerconfig/tests/upgrades/__init__.py
  controllerconfig/controllerconfig/controllerconfig/tests/upgrades/test_migration_scripts.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/utils.py
  controllerconfig/controllerconfig/test-requirements.txt
  controllerconfig/controllerconfig/tox.ini
  controllerconfig/controllerconfig/upgrade-scripts/70-active-secured-etcd-after-upgrade.sh
  controllerconfig/controllerconfig/upgrade-scripts/96-delete-snmp-records.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update config tracking for reboot required config
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Restore system modify command for SNMPv3
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Docker registry certificate management by cert-manager
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Backward compatibility changes for registry cert managed by cert-manager
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_certificate.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix out-of-date alarm wrongful removal
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add unit tests for _create_host_filesystems
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_manager.py
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow SR-IOV interface modify on AIO-SX without locking the host
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Revert "Add api call to trigger creation of gnp"
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
