Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

Update PTP API ref and unit tests
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/sysinv/sysinv/sysinv/tests/api/test_ptp.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow users to override a single image with a custom registry
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

stx-monitor: only delete pvcs on app delete.
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fixed address interface foreign key inconsistency
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/objects/address.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_address.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/helm/test_nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support post-bootstrap config of kube-apiserver parameters
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_service_parameters.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow VF type interface to detect underlying port
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface.py
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add platform network type for storage
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface_network.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Refresh local registry auth info each time when access local registry
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove usage of /etc/kubernetes/kubeadm.yaml
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Set time limit for filebeat open filehandlers
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support multiple CA certificates installation
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/centos/build_srpm.data
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/api/base.py
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ca-cert-one-cert.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ca-cert-two-certs.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/test_certificate.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

application-apply error string too long
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix rabbitmq could not bind port to ipv6 address issue
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix timeout waiting for CA cert install during ansible replay
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Wait for pod termination on stx-monitor remove
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add ipv6 support for novncproxy_base_url.
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix SR-IOV runtime manifest apply
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/puppet/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update helm overrides for elastic helm charts 7.6.0
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/logstash.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Config updates for stx3.0 upgrades
  controllerconfig/centos/controllerconfig.spec
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  controllerconfig/controllerconfig/upgrade-scripts/16-neutron-move-bindings-off-controller-1.py
  controllerconfig/controllerconfig/upgrade-scripts/20-sysinv-retire-ceph-cache-tier-sp.py
  controllerconfig/opensuse/controllerconfig.spec
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Clean up: python libvirt removed from test requirement of sysinv
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

De-branding in starlingx/config: Titanium Cloud -> StarlingX
  sysinv/sysinv-agent/sysinv-agent.service
  tsconfig/centos/tsconfig.spec
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support adding admission plugin post bootstrap
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Refactor obsolete versions usage in sysinv
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Improve host-overrides
  sysinv/sysinv/sysinv/sysinv/cmd/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update get_kube_versions to align with v1.18.1
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Change ceph manager port
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Container logs collected without Kubernetes metadata
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add system fields to container logs
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Support subcloud deploy upload the common files
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: none

Use ansible for simplex upgrade start
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/health.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fixed invalid lldp tlv update by sysinv conductor
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add mariadb database config override to support ipv6
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix beat fails to parse kubernetes.pod.labels.app
  sysinv/sysinv/sysinv/sysinv/helm/filebeat.py
  sysinv/sysinv/sysinv/sysinv/helm/metricbeat.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update MatchNodeSelector recovery logic for NodeAffinity status
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update verify-license call in sysinv
  sysinv/sysinv/sysinv/sysinv/common/health.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enable duplex platform upgrades
  controllerconfig/centos/controllerconfig.spec
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  controllerconfig/controllerconfig/scripts/upgrade_swact_migration.py
  controllerconfig/opensuse/controllerconfig.spec
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  sysinv/sysinv/sysinv/sysinv/puppet/puppet.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  tsconfig/centos/build_srpm.data
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Generate admin_url to enable https for admin endpoints
  controllerconfig/controllerconfig/scripts/controller_config
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/barbican.py
  sysinv/sysinv/sysinv/sysinv/puppet/dcdbsync.py
  sysinv/sysinv/sysinv/sysinv/puppet/dcmanager.py
  sysinv/sysinv/sysinv/sysinv/puppet/dcorch.py
  sysinv/sysinv/sysinv/sysinv/puppet/fm.py
  sysinv/sysinv/sysinv/sysinv/puppet/inventory.py
  sysinv/sysinv/sysinv/sysinv/puppet/keystone.py
  sysinv/sysinv/sysinv/sysinv/puppet/nfv.py
  sysinv/sysinv/sysinv/sysinv/puppet/openstack.py
  sysinv/sysinv/sysinv/sysinv/puppet/patching.py
  sysinv/sysinv/sysinv/sysinv/puppet/smapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Allow yaml formatting for controllerfs-list
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_controllerfs.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_controllerfs_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/controller_fs_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Support host routes for storage networks
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/route.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit
