Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py35:
  parent: tox
  description: 'Run py35 test for sysinv
  
    '
  nodeset: ubuntu-xenial
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py35
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-bandit:
  parent: tox
  description: 'Run bandit test for sysinv
  
    '
  vars:
    tox_envlist: bandit
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pylint:
  parent: tox
  description: 'Run pylint test for cgts-client
  
    '
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Fix tox failures from new version of virtualenv and pip
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Adding support for Ceph storage during Simplex to Duplex migration
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix resize of drbd filesystems
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AIO-DX: Controller-1 fails to be unlocked after downgrade
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Handle "updating" and "recovering" app update states during upgrade activation
  controllerconfig/controllerconfig/upgrade-scripts/65-k8s-app-upgrade.sh
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add lifecycle hook to allow to_app application-update semantic checking
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_constants.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Verify cert chain after adminep update
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix zuul errors due to changes in dependencies
  tsconfig/tsconfig/test-requirements.txt
Due: none

Support configuration of system-controller address pools post-install
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/address_pool.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Change in oam ip fails to update the system endpoints, in AIO-SX
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Restart tiller on openstack pending install check
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add RPCAPI calls to apply LDAP client and DNS runtime manifest
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/network.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_network.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_rpcapi.py
  sysinv/sysinv/sysinv/sysinv/tests/db/base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

py3: Fix for python2/python3 compatibility
  sysinv/cgts-client/cgts-client/cgtsclient/common/base.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/utils.py
  sysinv/cgts-client/cgts-client/cgtsclient/common/wrapping_formatters.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/drbdconfig_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/icpu.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iinterface_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/ilvg_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/iprofile_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/istor_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/load.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/options.py
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Send application lifecycle notifications for backup and restore.
  sysinv/sysinv/sysinv/sysinv/cmd/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_hook.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

SX-to-DX: Check host administrative state
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_system.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Add code to handle Kubernetes validating webhooks
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Run SRIOV manifest during controller-1 migration
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Check for connectivity to the tiller postgres backend.
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Python 2 to Python 3 compatibility
  sysinv/cgts-client/centos/cgts-client.spec
  sysinv/cgts-client/cgts-client/cgtsclient/common/http.py
  sysinv/cgts-client/cgts-client/requirements.txt
  sysinv/cgts-client/debian/control
  sysinv/cgts-client/opensuse/cgts-client.spec
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Revert "Check for connectivity to the tiller postgres backend."
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Clear host config_target on upgrade migration
  controllerconfig/controllerconfig/upgrade-scripts/97-reset-config-target.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Remove subcloud admin endpoint data migration
  controllerconfig/controllerconfig/scripts/controller_config
  controllerconfig/controllerconfig/upgrade-scripts/85-update-sc-admin-endpoint-cert.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix missing sriov attributes in N3000 pci info
  sysinv/sysinv/sysinv/sysinv/fpga_agent/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

check app progress before swact
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Memory adjustment to consider memory available
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

AIO-SX reboots after change OAM ip address
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Limit etcd migration to swact actions
  controllerconfig/controllerconfig/scripts/upgrade_swact_migration.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Add logging to secured-etcd upgrade script
  controllerconfig/controllerconfig/upgrade-scripts/70-active-secured-etcd-after-upgrade.sh
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Allow configurable ceph storage backend network
  sysinv/cgts-client/cgts-client/cgtsclient/common/constants.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph_external.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph_rook.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_external.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_file.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_lvm.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/116_storage_ceph_network.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/objects/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Switch type(certificate) and type(obj)
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/device_image_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Specify timeout for _get_token REST API request in cert-mon
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Send the binary data instead of path
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/types.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Adding AIO-SX to AIO-DX migration steps patching existing PVs
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/sysinv/scripts/ceph_k8s_update_monitors.sh
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_ceph.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix bootstrap error on AIO-SX due to post SX to DX migration actions
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Specify default connect_timeout for sysinv agent
  sysinv/sysinv/sysinv/sysinv/openstack/common/rpc/impl_kombu.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix invalid admin endpoint cert during subcloud upgrade
  sysinv/sysinv/sysinv/sysinv/cert_mon/certificate_mon_manager.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/service.py
  sysinv/sysinv/sysinv/sysinv/cert_mon/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
