Repository starlingx/config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  sysinv-tox-bandit: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*

sysinv: Intel ACC100 (Mt Bryce) enablement
  sysinv/cgts-client/cgts-client/cgtsclient/v1/pci_device_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/pci_device.py
  sysinv/sysinv/sysinv/sysinv/common/device.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/device.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_device.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Limit rootfs size constraints to controller nodes
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Deprecate sysinv.openstack.common.rootwrap
  sysinv/sysinv/centos/sysinv.spec
  sysinv/sysinv/opensuse/sysinv.spec
  sysinv/sysinv/sysinv/openstack-common.conf
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/openstack/common/rootwrap/__init__.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rootwrap/cmd.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rootwrap/filters.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/rootwrap/wrapper.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fixes the time calculation in the is_expired method of the Token class
  sysinv/sysinv/sysinv/sysinv/openstack/common/keystone_objects.py
  sysinv/sysinv/sysinv/sysinv/tests/openstack/__init__.py
  sysinv/sysinv/sysinv/sysinv/tests/openstack/common/__init__.py
  sysinv/sysinv/sysinv/sysinv/tests/openstack/common/test_keystone_objects.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Centos 8: update scripts in controllerconfig to use python3
  controllerconfig/controllerconfig/upgrade-scripts/10-sysinv-adjust-partitions.py
  controllerconfig/controllerconfig/upgrade-scripts/50-dcmanager-subcloud-status-migration.py
  controllerconfig/controllerconfig/upgrade-scripts/80-dc-cert-upgrade.py
  controllerconfig/controllerconfig/upgrade-scripts/85-update-sc-admin-endpoint-cert.py
  controllerconfig/controllerconfig/upgrade-scripts/95-apply-mandatory-psp-policies.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Migrate to database backend for backup and restore
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/112_add_backup_restore_table.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/restore.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_restore.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update the minimum small root disk size
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/agent/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Rework evaluating apps reapply
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/cmd/helm.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_base.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_kube_app_app_operator.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Enhance upgrade script 85 to handle empty data
  controllerconfig/centos/controllerconfig.spec
  controllerconfig/controllerconfig/upgrade-scripts/85-update-sc-admin-endpoint-cert.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Retrieve device image over lighttpd
  sysinv/sysinv/sysinv/sysinv/fpga_agent/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Ensure agent is ready before issuing runtime config
  sysinv/sysinv-agent/sysinv-agent
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove the checks to enable flexible pci-sriov interface config ordering
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Config API for Kubernetes cluster access information
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_cluster.py
  sysinv/cgts-client/cgts-client/cgtsclient/tests/v1/test_kube_cluster_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_cluster.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/kube_cluster_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_cluster.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_kube_cluster.py
  sysinv/sysinv/sysinv/sysinv/tests/common/test_kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Support background runtime manifests during upgrade-activate
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/upgrade.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Config API documentation for Kubernetes cluster
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Upgrade script to create device_images directory
  controllerconfig/controllerconfig/upgrade-scripts/30-create-device-images-directory.sh
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix logging during reapply evaluation
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Prevents critical apps from being deleted.
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove the checks which restricts vf subinterface creation/modification
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Need to check MTU setting for the ethernet type subinterface
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix miscalculation of the available link speed bandwidth
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/interface.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_interface.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

config: Add global service parameter to set cri handler
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/puppet/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

move rest_api to common code
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/hwmon_api.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/mtce_api.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/patch_api.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/sm_api.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/vim_api.py
  sysinv/sysinv/sysinv/sysinv/common/rest_api.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Allow routes to be configured on oam interfaces
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/route.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Fix handling of expired watch event in cert-mon.
  sysinv/sysinv/sysinv/sysinv/cert_mon/watcher.py
  sysinv/sysinv/sysinv/sysinv/tests/cert_mon/test_cert_mon.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Update api-ref with modified interface configuration
  api-ref/source/api-ref-sysinv-v1-config.rst
Due: none

Upgrade activation interrupted by host-swact
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Notify dcmanager when upgrade completed
  sysinv/sysinv/sysinv/sysinv/common/dc_api.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Use http_port from conf file for fpga-agent
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/fpga_agent/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Rework platform managed apps
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/113_kube_app_metadata.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Implement algorithm for reapply evaluation priority
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_1.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_cycle_1.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_cycle_2.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_cycle_3.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_non_existing_1.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_non_existing_2.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_non_managed_1.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_not_cycle_1_non_managed.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/metadata_app_reapply_not_cycle_2.yaml
  sysinv/sysinv/sysinv/sysinv/tests/conductor/test_kube_app_metadata.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Remove unsafe umask usage
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/fernet.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Change enable_secured_etcd.yml variable in upgrade
  controllerconfig/controllerconfig/upgrade-scripts/70-active-secured-etcd-after-upgrade.sh
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Prevents critical apps from being removed
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Introducing GEO location new fields for System
  api-ref/source/api-ref-sysinv-v1-config.rst
  sysinv/cgts-client/cgts-client/cgtsclient/v1/isystem_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/system.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/114_system_geolocation.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/models.py
  sysinv/sysinv/sysinv/sysinv/objects/system.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_system.py
  sysinv/sysinv/sysinv/sysinv/tests/db/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Update expired unit test certificate
  sysinv/sysinv/sysinv/sysinv/tests/api/data/README.txt
  sysinv/sysinv/sysinv/sysinv/tests/api/data/docker_registry-cert-2xcert-1xkey-with-key.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/data/ssl-cert-2xcert-1xkey-with-key.pem
  sysinv/sysinv/sysinv/sysinv/tests/api/test_certificate.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Turn off the legacy pip resolver for sysinv
  playbooks/tox-puppet-lint/pre.yaml
  sysinv/sysinv/sysinv/pylint.rc
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/tests/conductor/data/chart_values_sample.yaml
  sysinv/sysinv/sysinv/sysinv/tests/objects/test_objects.py
  sysinv/sysinv/sysinv/test-requirements.txt
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Centos 8: Remove the requires of python3-ipaddr in sysinv
  sysinv/sysinv/centos/sysinv.spec
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit

Force remove or delete application
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/app_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/kube_app.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_base.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Enhance maintenance semantic checks with app hooks
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/lifecycle_constants.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_host.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, sysinv-tox-bandit
